In [48]:
import pandas as pd
import numpy as np

In [58]:
x=np.array([2009,2010,2011,2012,2013,2014,2015,2016,2017,2018])

y=np.array([213,221,198,234,201,197,212,222,217,219])

In [59]:
df=pd.DataFrame(y,x).reset_index()

df.columns = ['Year', 'Sales']

In [60]:
df

   Year  Sales
0  2009    213
1  2010    221
2  2011    198
3  2012    234
4  2013    201
5  2014    197
6  2015    212
7  2016    222
8  2017    217
9  2018    219

In [61]:
for i in range(len(df['Sales'])-3):

    j=(df['Sales'].loc[i]+df['Sales'].loc[i+1]+df['Sales'].loc[i+2])/3

    print(j)

210.66666666666666
217.66666666666666
211.0
210.66666666666666
203.33333333333334
210.33333333333334
217.0